In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
#reading data with pandas
#main dataset
loan = pd.read_csv('Data/kiva_loans.csv')
#other datasets i.e. region, loan themes(id and by region)
region = pd.read_csv('Data/kiva_mpi_region_locations.csv')
ids = pd.read_csv('Data/loan_theme_ids.csv')
themes = pd.read_csv('Data/loan_themes_by_region.csv')
loan.tail()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,NaN,female,monthly,2017-07-25
671202,1340334,0.0,25.0,Games,Entertainment,NaN,KE,Kenya,NaN,KES,138.0,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,NaN,monthly,2017-07-26
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26

In [2]:
region.head()

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [3]:
ids.head()

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

In [4]:
themes.head()

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,"(13.75, 103.0)",KHM,...,450,"Banteay Meanchey, Cambodia","[(13.6672596, 102.8975098)]",Banteay Meanchey Province; Cambodia,"(13.6672596, 102.8975098)",13.667260,102.897510,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
1,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,NaN,KHM,...,20275,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
2,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,NaN,KHM,...,9150,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
3,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,604950,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
4,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,275,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0

In [5]:
#an overview of the data
loan.describe()

,id,funded_amount,loan_amount,partner_id,term_in_months,lender_count
count,6.712050e+05,671205.000000,671205.000000,657698.000000,671205.000000,671205.000000
mean,9.932486e+05,785.995061,842.397107,178.199616,13.739022,20.590922
std,1.966113e+05,1130.398941,1198.660073,94.247581,8.598919,28.459551
min,6.530470e+05,0.000000,25.000000,9.000000,1.000000,0.000000
25%,8.230720e+05,250.000000,275.000000,126.000000,8.000000,7.000000
50%,9.927800e+05,450.000000,500.000000,145.000000,13.000000,13.000000
75%,1.163653e+06,900.000000,1000.000000,204.000000,14.000000,24.000000
max,1.340339e+06,100000.000000,100000.000000,536.000000,158.000000,2986.000000

In [6]:
#checking for missing values
print(loan.info(), region.info(), ids.info(), themes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null object
disbursed_time        668809 non-null object
funded_time           622874 non-null object
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  499789 non-null object
borrower_genders      666984 non-null object
repayment_interval    671205 non-null object
date                  671205 non-null object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             1008 non-null object
country         1008 non-null object
region          984 non-null object
world_region    1008 non-null object
MPI             984 non-null float64
geo             2772 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 195.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779092 entries, 0 to 779091
Data columns (total 4 columns):
id                 779092 non-null int64
Loan Theme ID      764279 non-null object
Loan Theme Type    764279 non-null object
Partner ID         764279 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 21 columns):
Partner ID            15736 non-null int64
Field Partner Name    15736 non-null object
sector                15736 non-null object
Loan Theme ID         15736 non-null object
Loan Theme Type       15736 non-null object
country               15736 non-null object
forkiva               15736 non-null object
region                15736 non-null object
geocode_old           1200 non-null object
ISO                   15722 non-null object
number                15736 non-null int64
amount                15736 non-null int64
LocationName          15736 non-null object
geocode               13662 non-null object
names                 13661 non-null object
geo                   15736 non-null object
lat                   13662 non-null float64
lon                   13662 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14344 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.5+ MB
None None None None

In [7]:
#merge region and main data set
loan_merge = pd.merge(loan, region).dropna()
loan_merge

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,...,borrower_genders,repayment_interval,date,LocationName,ISO,world_region,MPI,geo,lat,lon
0,653359,600.0,600.0,Machinery Rental,Services,to invest in working capital and to maintain g...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
1,653373,1000.0,1000.0,Grocery Store,Food,to invest in working capital and to provide hi...,NI,Nicaragua,Leon,NIO,...,male,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
2,653364,250.0,250.0,Fuel/Firewood,Retail,to buy firewood to offer to her customers,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
4,653396,800.0,800.0,Clothing Sales,Clothing,to invest in working capital to stock their bu...,NI,Nicaragua,Leon,NIO,...,"female, female, female",monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
5,653402,800.0,800.0,Grocery Store,Food,to invest in working capital and to supply her...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
6,653398,400.0,400.0,Clothing Sales,Clothing,To invest in working capital and stock her clo...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
7,653400,1925.0,1925.0,Grocery Store,Food,to stock her store.,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",irregular,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
8,653395,250.0,250.0,Clothing Sales,Clothing,to invest in working capital and to stock her ...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
9,653390,800.0,800.0,Grocery Store,Food,to invest in working capital and stock up her ...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
10,653377,600.0,600.0,Cosmetics Sales,Retail,to invest in working capital and stock up on c...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
11,653771,3925.0,3925.0,Grocery Store,Food,to invest in working capital and increase her ...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-03,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
12,653764,1975.0,1975.0,Grocery Store,Food,to invest in stock for their grocery store.,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-03,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
14,654344,675.0,675.0,Clothing Sales,Clothing,to buy stock for her clothes store,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
15,654305,1550.0,1550.0,Clothing Sales,Clothing,to invest in working capital and stock up her ...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
16,654341,1375.0,1375.0,Pigs,Agriculture,to invest in working capital and supply her bu...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female",monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
17,654277,2900.0,2900.0,Grocery Store,Food,to stock her store,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",irregular,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
18,654343,875.0,875.0,Clothing Sales,Clothing,to invest in working capital and stock her gen...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
19,654347,1175.0,1175.0,Clothing Sales,Clothing,to stock her store,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
20,654338,2300.0,2300.0,General Store,Retail,to invest in working capital and to stock up h...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, male, female, ...",monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
21,654854,600.0,600.0,Retail,Retail,to buy inventory.,NI,Nicaragua,Leon,NIO,...,"male, male, female",monthly,2014-01-07,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
22,655267,2150.0,2150.0,Grocery Store,Food,to stock her store.,NI,Nicaragua,Leon,NIO,...,"female, male, female, female, female, female, ...",irregular,2014-01-08,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
24,655300,1175.0,1175.0,Grocery Store,Food,to invest in working capital and stock her bus...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-08,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
26,655286,400.0,400.0,Cosmetics Sales,Retail,to buy inventory.,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-08,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
27,655814,875.0,875.0,Printing,Services,to stock his business with items for screen pr...,NI,Nicaragua,Leon,NIO,...,male,monthly,2014-01-09,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
30,656177,475.0,475.0,Cosmetics Sales,Retail,to invest in working capital and to stock her ...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-10,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
31,656236,600.0,600.0,Milk Sales,Food,invest in working capital and stock their busi...,NI,Nicaragua,Leon,NIO,...,"female, female, female",monthly,2014-01-10,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
33,657599,1725.0,1725.0,Pigs,Agriculture,invest in working capital and supply their bus...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, male, ...",monthly,2014-01-15,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
34,657712,600.0,600.0,Grocery Store,Food,To stock her store.,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-15,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
35,657556,3750.0,3750.0,Bakery,Food,invest in working capital and stock their bake...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-15,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
36,658818,775.0,775.0,Grocery Store,Food,to stock her store.,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-17,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52137,1212483,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52139,1213063,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52141,1212528,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52142,1213060,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52146,1212509,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52148,1212522,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52149,1212525,50.0,50.0,Farming,Agriculture,"to pay for farm inputs such as herbicides, mai...",MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52150,1213047,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52151,1213064,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52153,1213048,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52155,1213043,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52156,1212507,50.0,50.0,Farming,Agriculture,"to buy fertilizer, seeds and herbicides.",MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52157,1212481,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52163,1213056,75.0,75.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52168,1213027,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52169,1212529,100.0,100.0,Farming,Agriculture,to buy farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52175,1213471,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-30,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52179,1213484,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-30,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52183,1223880,1675.0,1675.0,Services,Services,"start up his mobile transaction business, assi...",MW,Malawi,Ntcheu,MWK,...,male,bullet,2017-01-20,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52184,1292587,1325.0,1325.0,Mobile Transactions,Services,increase his float in order to satisfy custome...,MW,Malawi,Ntcheu,MWK,...,male,bullet,2017-05-04,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52185,1297103,425.0,425.0,Mobile Transactions,Services,to pay for a kiosk for his start-up business a...,MW,Malawi,Ntcheu,MWK,...,male,bullet,2017-05-12,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52186,1296923,850.0,850.0,Mobile Transactions,Services,to generate capital for her start-up business ...,MW,Malawi,Ntcheu,MWK,...,female,bullet,2017-05-12,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52187,1304580,850.0,850.0,Mobile Transactions,Services,to attain a kiosk for her start-up business as...,MW,Malawi,Ntcheu,MWK,...,female,bullet,2017-05-23,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52188,1313379,825.0,825.0,Mobile Transactions,Services,to attain a kisok for her start-up business as...,MW,Malawi,Ntcheu,MWK,...,female,bullet,2017-06-05,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52189,1315632,1300.0,1300.0,Cereals,Food,to buy more rice and beans,MW,Malawi,Ntcheu,MWK,...,"female, female, female, female, female, female...",irregular,2017-06-07,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52191,1207215,500.0,500.0,Farm Supplies,Agriculture,to pay for high quality seeds and fertilisers ...,MZ,Mozambique,Manica,MZN,...,male,bullet,2016-12-20,"Manica, Mozambique",MOZ,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
52192,1207220,2075.0,2075.0,Farm Supplies,Agriculture,to buy high-quality seeds to plant and to sell.,MZ,Mozambique,Manica,MZN,...,male,bullet,2016-12-20,"Manica, Mozambique",MOZ,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
52193,1207690,1925.0,1925.0,Farm Supplies,Agriculture,"to purchase seeds, pesticides and fertilizers ...",MZ,Mozambique,Manica,MZN,...,male,bullet,2016-12-21,"Manica, Mozambique",MOZ,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
52195,1300428,5050.0,5050.0,Higher education costs,Education,to continue and finish her education in indust...,PE,Peru,Tacna,USD,...,female,bullet,2017-05-17,"Tacna, Peru",PER,Latin America and Caribbean,0.008,"(-18.0065679, -70.2462741)",-18.006568,-70.246274
52196,1323945,10000.0,10000.0,Weaving,Arts,to develop a new product which will help creat...,BT,Bhutan,Thimphu,USD,...,female,irregular,2017-06-20,"Thimphu, Bhutan",BTN,South Asia,0.016,"(27.4727924, 89.6392863)",27.472792,89.639286